In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../data/SBAnational.csv')

/var/folders/41/hgg8f6_j1dj4y4mt0w22d8ym0000gn/T/ipykernel_55632/1075756789.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/SBAnational.csv')

In [3]:
df.sample(10)

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
378284,3657154003,TRAVELODGE AUGUSTA,AUGUSTA,GA,30901,"BUSINESS LOAN CENTER, LLC",SC,0,24-Mar-00,2000,...,0,N,NaN,31-Mar-00,"$890,000.00",$0.00,P I F,$0.00,"$890,000.00","$667,500.00"
452205,4384603009,LA COMIDA,CODY,WY,82414,PINNACLE BANK-WYOMING,WY,0,25-Feb-91,1991,...,N,N,NaN,30-Apr-91,"$30,000.00",$0.00,P I F,$0.00,"$30,000.00","$27,000.00"
266049,2858784006,ALLEGHENY CARTAGE INC,BLAIRSVILLE,PA,15717,FIRST COMMONWEALTH BANK,PA,0,26-Mar-99,1999,...,Y,N,NaN,30-Apr-99,"$99,900.00",$0.00,P I F,$0.00,"$99,900.00","$49,950.00"
253056,2778566002,SOUTH BEACH TAN,ADAMS (TOWN OF),MA,1220,BERKSHIRE BANK,MA,812199,1-May-07,2007,...,0,N,NaN,31-May-07,"$52,000.00",$0.00,P I F,$0.00,"$52,000.00","$26,000.00"
537285,5255394001,CHRISTIANSBURG CHILD CARE,CHRISTIANSBURG,VA,24068,STELLARONE BANK,VA,624410,6-Mar-02,2002,...,0,Y,NaN,30-Apr-02,"$135,000.00",$0.00,P I F,$0.00,"$135,000.00","$114,750.00"
767303,8070894006,F R CALL CUSTOMER REMODELING,ROCHESTER,NY,14445,CITIZENS BANK NATL ASSOC,RI,236115,8-Nov-04,2005,...,Y,N,NaN,31-Dec-04,"$12,156.00",$0.00,P I F,$0.00,"$7,700.00","$3,850.00"
609192,6050863005,PAUL WALL FARM SERVICES CTR.,MANSURA,LA,71350,COTTONPORT BANK,LA,0,12-Nov-93,1994,...,N,N,NaN,31-Jan-94,"$1,000,000.00",$0.00,P I F,$0.00,"$1,000,000.00","$750,000.00"
77701,1581995008,Advertising Agency,SAN FRANCISCO,CA,94109,BANK OF AMERICA NATL ASSOC,NC,541810,15-Dec-05,2006,...,Y,N,2-Jun-08,31-Jan-06,"$10,000.00",$0.00,P I F,"$10,000.00","$10,000.00","$5,000.00"
779147,8250153008,QUEEN OIL AND GAS COMPANY INC,CARLSBAD,NM,88220,ENCHANTMENT LAND CERT. DEVEL C,NM,422720,11-Apr-95,1995,...,N,N,NaN,15-May-96,"$697,000.00",$0.00,P I F,$0.00,"$697,000.00","$697,000.00"
493733,4766604000,ACCOUNTING SYSTEMS DESIGNERS,MIAMI BEACH,FL,33319,FEDERAL DEPOSIT INSUR CORP,TX,541219,3-Aug-01,2001,...,N,N,8-Apr-10,30-Sep-01,"$61,000.00",$0.00,CHGOFF,"$47,952.00","$61,000.00","$51,850.00"

In [ ]:
df.info()

In [ ]:
df[df['Bank'].isnull()]['LoanNr_ChkDgt'].count()

In [ ]:
DEFAULT = 'CHGOFF'
PIF = 'P I F'

samples = df.shape[0]

MIS_counts = df['MIS_Status'].value_counts()
pif_count = MIS_counts[PIF]
chgoff_count = MIS_counts[DEFAULT]
unknown = samples - pif_count - chgoff_count

print(f"{samples} total samples, with {pif_count} paid in full, {chgoff_count} defaulted and {unknown} null")

In [ ]:

lates = df[(df['MIS_Status'] == PIF) & (df['ChgOffDate'].notnull())]
print(f"{len(lates)} late payments found")
lates.head()

In [ ]:
most_common = df['BalanceGross'].mode()[0]

wierds = df[(df['BalanceGross'] != most_common)]
wierds

In [ ]:
features_keep = ['Term', 'NewExist', 'NoEmp', 'UrbanRural', 'RevLineCr']

df[features_keep].sample(10)

In [ ]:
plt.figure(figsize=(8, 6))
plt.hist(df['NoEmp'], bins='auto', alpha=0.7, color='skyblue', edgecolor='black', log=True)

# Calculate quartiles
q1 = df['NoEmp'].quantile(0.25)
q2 = df['NoEmp'].quantile(0.5)
q3 = df['NoEmp'].quantile(0.75)

# Overlay quartile lines
plt.axvline(q1, color='red', linestyle='--', label='Q1')
plt.axvline(q2, color='green', linestyle='--', label='Q2 (Median)')
plt.axvline(q3, color='orange', linestyle='--', label='Q3')

plt.title('Histogram with Logarithmic Bins and Quartiles')
plt.xlabel('Values')
plt.ylabel('Frequency (log scale)')
plt.legend()
plt.grid(True)
plt.show()

In [ ]:


# Dividing data into three bins with equal samples
df['Bins'] = pd.qcut(df['NoEmp'], q=3, labels=['Bin 1', 'Bin 2', 'Bin 3'])

# Plotting a bar chart to represent the bins
bin_counts = df['Bins'].value_counts().sort_index()
plt.figure(figsize=(8, 6))
plt.bar(bin_counts.index, bin_counts.values, color='skyblue', edgecolor='black')

plt.title('Distribution into Three Bins with Equal Samples')
plt.xlabel('Bins')
plt.ylabel('Number of Samples')
plt.grid(axis='y')
plt.show()

In [ ]:
df['FranchiseCode'].value_counts().head(20)

In [ ]:
#df[(df['FranchiseCode'] != 1) & (df['FranchiseCode'] != 0)]
df[df['FranchiseCode'] == 79140]

In [ ]:
#df['UrbanRural'].value_counts()
#df[(df['RevLineCr'])]
df['RevLineCr'].value_counts()
#df['LowDoc'].value_counts()
#df['NewExist'].value_counts()

In [ ]:
#convert dollar values to float value
def dollar_to_float(dollar_string: str):
    return float(dollar_string.replace('$','').replace(',',''))

val = dollar_to_float('$1,560,275.23')
print(f"the value is:{val} and its type is: {type(val)}")

In [ ]:
df['GrAppvFloat'] = df['GrAppv'].apply(dollar_to_float)
df['GrSBA_Appv'] = df['SBA_Appv'].apply(dollar_to_float)
df.head()

In [ ]:
#df['GrSBA_Appv'].describe()
df['GrAppvFloat'].describe()

In [ ]:
df['SBARatio'] = df['GrSBA_Appv'] / df['GrAppvFloat']
df['SBARatio'].value_counts().tail(20)

In [ ]:
df[(df['SBARatio'] > .75) & (df['SBARatio'] <= .7501)]

In [ ]:
plt.figure(figsize=(8, 6))
plt.hist(df['SBARatio'], bins='auto', alpha=0.7, color='skyblue', edgecolor='black', log=False)

# Calculate quartiles
q1 = df['SBARatio'].quantile(0.25)
q2 = df['SBARatio'].quantile(0.5)
q3 = df['SBARatio'].quantile(0.75)

# Overlay quartile lines
plt.axvline(q1, color='red', linestyle='--', label='Q1')
plt.axvline(q2, color='green', linestyle='--', label='Q2 (Median)')
plt.axvline(q3, color='orange', linestyle='--', label='Q3')

plt.title('Histogram with Logarithmic Bins and Quartiles')
plt.xlabel('Values')
plt.ylabel('Frequency (log scale)')
plt.legend()
plt.grid(True)
plt.show()