In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('SBAnational.csv')

/var/folders/5t/9n7njgx97x98w9k0gpjslp9w0000gn/T/ipykernel_20888/2640212651.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('SBAnational.csv')

In [10]:
df.sample(10)

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
482031,4637064008,ELEGANCE BEAUTY SALON,LOS ANGELES,CA,90003,BANK OF AMERICA NATL ASSOC,NC,812112,6-Jul-01,2001,...,Y,N,NaN,31-Jul-01,"$12,854.00",$0.00,P I F,$0.00,"$15,000.00","$7,500.00"
405554,3914084008,TOUCHVISION INC A CALIFORNIA C,SEAL BEACH,CA,90740,BANK OF AMERICA NATL ASSOC,NC,0,25-Aug-00,2000,...,Y,N,NaN,30-Sep-00,"$150,000.00",$0.00,P I F,$0.00,"$150,000.00","$75,000.00"
81693,1609214004,STARBUCK LAUNDROMAT,STARBUCK,MN,56381,EAGLE BANK,MN,812310,9-Oct-97,1998,...,N,Y,NaN,31-Oct-97,"$50,000.00",$0.00,P I F,$0.00,"$50,000.00","$40,000.00"
524817,5090344009,FLEET FEET SPORTS SAVANNAH,SAVANNAH,GA,31405,AMERIS BANK,GA,448210,7-Dec-01,2002,...,0,Y,NaN,28-Feb-02,"$140,000.00",$0.00,P I F,$0.00,"$140,000.00","$119,000.00"
757310,7929014010,MIDAS AUTO SERVICE EXPERTS,HOUSTON,TX,77090,CAPITAL ONE NATL ASSOC,VA,811111,13-Oct-04,2005,...,0,N,NaN,30-Nov-04,"$50,000.00",$0.00,P I F,$0.00,"$50,000.00","$25,000.00"
100739,1744745009,World Sofas,LOS ANGELES,CA,90033,BANK OF AMERICA NATL ASSOC,NC,337125,31-Mar-06,2006,...,Y,N,29-Jul-13,31-Dec-06,"$10,096.00",$0.00,CHGOFF,"$10,000.00","$10,000.00","$5,000.00"
648667,6498894008,CONVERGENT SOLUTIONS GROUP LLC,APPLE VALLEY,MN,55124,MERCHANTS BANK NATL ASSOC,MN,541512,16-Jul-03,2003,...,Y,N,NaN,31-Aug-03,"$955,255.00",$0.00,P I F,$0.00,"$300,000.00","$150,000.00"
865558,9329293001,HASKELL AUTO SERVICE CORPORATI,GLENDALE,AZ,85301,"READYCAP LENDING, LLC",CA,811121,7-Jun-96,1996,...,0,N,NaN,30-Nov-96,"$115,000.00",$0.00,P I F,$0.00,"$155,000.00","$116,250.00"
436361,4232685004,Cheryl D. Evans,Hardin,MT,59034,UMPQUA BANK,OR,453110,31-Aug-10,2010,...,N,N,15-Jan-13,1-Sep-10,"$12,000.00",$0.00,CHGOFF,"$9,776.00","$12,000.00","$10,200.00"
105022,1772294006,THE PICKUP WAREHOUSE OF FT SMI,FORT SMITH,AR,72901,BANCORPSOUTH BANK,AR,0,7-Jan-98,1998,...,N,Y,1-Aug-03,28-Feb-98,"$50,000.00",$0.00,CHGOFF,"$17,001.00","$50,000.00","$40,000.00"

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 899164 entries, 0 to 899163
Data columns (total 27 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   LoanNr_ChkDgt      899164 non-null  int64
 1   Name               899150 non-null  object
 2   City               899134 non-null  object
 3   State              899150 non-null  object
 4   Zip                899164 non-null  int64
 5   Bank               897605 non-null  object
 6   BankState          897598 non-null  object
 7   NAICS              899164 non-null  int64
 8   ApprovalDate       899164 non-null  object
 9   ApprovalFY         899164 non-null  object
 10  Term               899164 non-null  int64
 11  NoEmp              899164 non-null  int64
 12  NewExist           899028 non-null  float64
 13  CreateJob          899164 non-null  int64
 14  RetainedJob        899164 non-null  int64
 15  FranchiseCode      899164 non-null  int64
 16  UrbanRural         899164 non-null  int64
 17  RevLineCr          894636 non-null  object
 18  LowDoc             896582 non-null  object
 19  ChgOffDate         162699 non-null  object
 20  DisbursementDate   896796 non-null  object
 21  DisbursementGross  899164 non-null  object
 22  BalanceGross       899164 non-null  object
 23  MIS_Status         897167 non-null  object
 24  ChgOffPrinGr       899164 non-null  object
 25  GrAppv             899164 non-null  object
 26  SBA_Appv           899164 non-null  object
dtypes: float64(1), int64(9), object(17)
memory usage: 185.2+ MB

In [16]:
DEFAULT = 'CHGOFF'
PIF = 'P I F'

samples = df.shape[0]

MIS_counts = df['MIS_Status'].value_counts()
pif_count = MIS_counts[PIF]
chgoff_count = MIS_counts[DEFAULT]
unknown = df['MIS_Status'].isnull().count()

d_ = samples - pif_count
print(d_)

print(f"{samples} total samples, with {pif_count} paid in full, {chgoff_count} defaulted and {unknown} null")

159555
899164 total samples, with 739609 paid in full, 157558 defaulted and 899164 null

In [20]:

lates = df[(df['MIS_Status'] == PIF) & (df['ChgOffDate'].notnull())]
print(f"{len(lates)} late payments found")
lates.head()

4927 late payments found

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
558,1004176005,GREENLIFE MOBILE,SAN JOSE,CA,95132,BBCN BANK,CA,561730,7-Feb-06,2006,...,0,N,19-Oct-09,28-Feb-06,"$5,000.00",$0.00,P I F,"$3,330.00","$5,000.00","$4,250.00"
850,1005925000,GILLIAN'S DELICATESSEN & CATER,FLORAL PARK,NY,11001,JPMORGAN CHASE BANK NATL ASSOC,IL,722320,26-Mar-03,2003,...,N,N,29-Mar-06,31-Mar-03,"$15,000.00",$0.00,P I F,"$10,270.00","$15,000.00","$7,500.00"
853,1005936010,TRICAS MANAGEMENT SERVICES LLC,DALLAS,TX,75218,WELLS FARGO BANK NATL ASSOC,SD,621511,8-Feb-06,2006,...,Y,N,2-Feb-09,31-Mar-06,"$165,553.00",$0.00,P I F,"$97,486.00","$100,000.00","$50,000.00"
861,1005986003,CAPITAL EXPLOSION GRAPHIC DESI,UPPER MARLBORO (MARLBORO),MD,20774,BBCN BANK,CA,541430,8-Feb-06,2006,...,0,N,14-Aug-12,28-Feb-06,"$10,000.00",$0.00,P I F,"$2,310.00","$10,000.00","$8,500.00"
866,1006016007,C-BARB AND CONLEY PROMOTIONAL,HOUSTON,TX,77057,BBCN BANK,CA,421450,8-Feb-06,2006,...,0,N,1-Jun-09,28-Feb-06,"$5,000.00",$0.00,P I F,"$3,783.00","$5,000.00","$4,250.00"

In [46]:
most_common = df['BalanceGross'].mode()[0]

wierds = df[(df['BalanceGross'] != most_common)]
wierds

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
18555,1135885010,Francisco Ruiz dba Susquehanna,ALLENTOWN,PA,18103,BANK OF AMERICA NATL ASSOC,NC,811111,21-Dec-04,2005,...,T,N,NaN,31-Jan-05,"$39,875.00","$12,750.00",P I F,$0.00,"$13,000.00","$6,500.00"
28198,1211926008,GULF COAST COIL TUBING & NITRO,SCOTT,LA,70583,HOME BANK,LA,213112,1-Mar-06,2006,...,N,N,NaN,30-Jun-06,"$1,080,000.00","$827,875.00",P I F,$0.00,"$1,080,000.00","$810,000.00"
253953,2784255003,"NAR Enterprises, LLC",LAFAYETTE,CO,80026,JPMORGAN CHASE BANK NATL ASSOC,IL,722211,30-Oct-07,2008,...,Y,N,NaN,30-Nov-07,"$87,491.00","$25,000.00",P I F,$0.00,"$25,000.00","$12,500.00"
339776,3369895004,"Local Ocean Seafoods, Inc.",Newport,OR,97365,WEST COAST BANK,OR,722110,7-Apr-09,2009,...,Y,N,NaN,30-Apr-09,"$166,826.00","$37,100.00",P I F,$0.00,"$100,000.00","$50,000.00"
382117,3686985000,Planet Beach,Blue bell,PA,19422,PENN LIBERTY BANK,PA,812199,9-Oct-09,2010,...,Y,N,NaN,1-May-10,"$75,000.00","$43,127.00",P I F,$0.00,"$75,000.00","$37,500.00"
389415,3751605010,Bella's Resale Shop,Chicago,IL,60617,CENTIER BANK,IN,453310,16-Nov-09,2010,...,N,N,NaN,1-Jan-10,"$90,000.00","$84,617.00",P I F,$0.00,"$120,000.00","$60,000.00"
518257,5011163010,"OLSON, CLYDE & DARLENE",MARKESAN,WI,53946,BMO HARRIS BK NATL ASSOC,IL,713950,8-Sep-92,1992,...,N,N,NaN,31-Oct-92,"$245,000.00","$1,760.00",P I F,$0.00,"$245,000.00","$183,750.00"
534838,5225724003,GRANITE MFG STONEWORKS,HOLBROOK,NY,11741,"READYCAP LENDING, LLC",CA,327991,20-Feb-02,2002,...,0,N,NaN,30-Apr-02,"$825,000.00","$115,820.00",P I F,$0.00,"$825,000.00","$618,750.00"
759993,7960044006,BITS & CHIPS MACHINING CO. INC,MIDDLETOWN,OH,45044,SPRING VALLEY BANK,OH,333911,19-Oct-04,2005,...,N,N,NaN,30-Sep-05,"$1,070,000.00","$996,262.00",P I F,$0.00,"$1,070,000.00","$802,500.00"
766068,8047854007,DAYS INN OF CLEARFIELD,WILKES-BARRE,PA,18702,CUSTOMERS BANK,NJ,721110,3-Nov-04,2005,...,0,N,NaN,31-Jan-05,"$1,330,000.00","$395,476.00",P I F,$0.00,"$1,330,000.00","$997,500.00"
770280,8119914001,PETS IN THE CITY LLC,ST. LOUIS,MO,63118,U.S. BANK NATIONAL ASSOCIATION,OH,453910,16-Nov-04,2005,...,T,N,NaN,30-Nov-04,"$41,509.00","$41,509.00",P I F,$0.00,"$47,000.00","$39,950.00"
820834,8807974001,INDIGO HAIR STUDIO,MUSKEGON,MI,49441,FIFTH THIRD BANK,OH,812112,21-Apr-05,2005,...,0,Y,NaN,31-May-05,"$10,000.00",$600.00,P I F,$0.00,"$10,000.00","$8,500.00"
852542,9141504008,JOHNSON-HOBBY INC,GIRARD,OH,44420,BANCO POPULAR NORTH AMERICA,NY,561730,30-Sep-05,2005,...,0,N,NaN,30-Nov-05,"$1,038,000.00","$9,111.00",P I F,$0.00,"$1,038,000.00","$778,500.00"
870511,9397624002,GYMBOREE PLAY & MUSIC,SHREVEPORT,LA,71106,AMER NATL BK OF TEXAS,TX,624410,8-Dec-05,2006,...,0,N,NaN,31-Jan-06,"$150,000.00","$96,908.00",P I F,$0.00,"$150,000.00","$75,000.00"

In [49]:
accepted_amount = df['GrAppv']
disbursed_amount = df['DisbursementGross']

diff = accepted_amount - disbursed_amount

TypeError: unsupported operand type(s) for -: 'str' and 'str'