In [1]:
import pandas as pd

In [2]:
pd.read_csv('../data/interest_rates.csv')

           DATE  FEDFUNDS
0    1954-07-01      0.80
1    1954-08-01      1.22
2    1954-09-01      1.07
3    1954-10-01      0.85
4    1954-11-01      0.83
..          ...       ...
827  2023-06-01      5.08
828  2023-07-01      5.12
829  2023-08-01      5.33
830  2023-09-01      5.33
831  2023-10-01      5.33

[832 rows x 2 columns]